<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Uniempresarial</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="resources/styles/library.css">
    <link rel="stylesheet" href="resources/styles/basic.css">

</head>
<body>
     <!-- Header y menú -->
     <header class="header">
      <nav class="nav-header">
          <!-- Logo del Laboratorio de Innovación Social -->
          <a href="/" class="header-logo">
              <img  src="resources/assets/logo-ue.svg" alt="logo" class="header-icon">
          </a>
          <a href="#">
          <img  src="resources/assets/iconfinder_user_circle_duotone_9022927.svg" alt="logo" class="avatar-icon">
        </a>

          </div>
      </nav>
       <!--<div class="dropdown">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                  <span>Click me</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                <div class="dropdown-content">
                  <a href="#" class="dropdown-item">
                    Nombre
                  <a href="#" class="dropdown-item">
                    Editar perfil
                  </a>
                  <a href="#" class="dropdown-item">
                    Cerrar sesión
                  </a>
                </div>
              </div>
            </div>-->
  </header><br><br><br><br><br>


    <main>
        <div class="level-item">
            <div class="field has-addons">
              <p class="control">
                <input class="input is-medium" type="text" placeholder="Find a post">
              </p>
              <p class="control">
                <button class="button is-link is-outlined is-medium">
                  Search
                </button>
              </p>
            </div>
          </div>
        </div>
        <br><br>
        <hr>
        <br>

        <div class="content">
        <h2 id="examinar" class="subtitle is-5 is-danger">Examinar</h2>
        </div>
        <br><br><br>
        <div class="botones">
        <button class="button is-link is-outlined is-medium">Categoría</button><button class="button is-link is-outlined is-medium">Título</button><button class="button is-link is-outlined is-medium">Autor</button>
        </div>
        <br><br>

        <!--Cajas de los lbros-->
        <div class="columns is-multiline">
        <div class="column is-one-third">
        <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="resources/assets/rojo-blanco-y-sangre-azul_portada.jfif" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="/libro1"><strong>Rojo, Blanco y Sangre Azul</strong> </a>
                    <br>
                    Novela romantica LGBT
                  </p>
                  <p>(2009)</p>  <p>  Casey McQuinston</p>
                </div>
              </div>
            </div>
        </article>
        </div>

        <div class="column ">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img src="resources/assets/cien-anos-de-soledad-edicion-ilustrada.jpg" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <a href="/libro2"><strong>100 años de soledad</strong> </a>
                      <br>
                      Novela colombiana                    </p>
                    <p>(1900)</p>  <p>  Gabriel Garcia Marquez</p>
                  </div>
                </div>  
          </article>
        </div>
      </div>

        <div class="column">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img src="resources/assets/laSeleccion.webp" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <a href="/libro3"><strong>La seleccion</strong> </a>
                      <br>
                      Novela de universo distopico                  
                    </p>
                    <p>(2010)</p>  <p>  Kiera Cass</p>
                  </div>
                </div>  
          </article>
        </div>
    
      </div>

        </div>
    </main>        <br><br>
</body>
</html>