<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="resources/styles/library.css">
    <link rel="stylesheet" href="resources/styles/basic.css">
    <title>Información del libro</title>
</head>
<body>
     <!-- Header y menú -->
     <header class="header">
      <nav class="nav-header">
          <!-- Logo del Laboratorio de Innovación Social -->
          <a href="#" class="header-logo">
              <img  src="resources/assets/logo-ue.svg" alt="logo" class="header-icon">
          </a>
          <a href="#">
          <img  src="resources/assets/iconfinder_user_circle_duotone_9022927.svg" alt="logo" class="avatar-icon">
        </a>

          </div>
      </nav>
  </header><br><br><br><br><br>

  <div class="columns ">
    <div class="column">
    <div class="container">
        <article class="media">
          <div class="column is-one-quarter media-left">
            <figure class="image is-500x500">
              <img src="resources/assets/cien-anos-de-soledad-edicion-ilustrada.jpg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content is-medium">

                  <h3 >
                    <strong>100 Años de Soledad</strong> 
                  </h3>
                  <div class="is-flex is-align-items-center">
                    <span class="tag is-medium is-primary is-light">Disponible</span>
                    <p><strong>¿Solicitar libro?</strong></p>
                    </div>
                <br>
                <p class="box has-text-left">
                  <strong>Descripción</strong> 
                  <br>
                  Novela Colombiana de realismo mágico Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eos totam corrupti debitis expedita facere quo illum iusto! Dolorem, et. Perspiciatis quia beatae ad omnis incidunt nam unde tenetur officia.
                </p>
            </div>
            <div class="content is-medium">
              <br>
              <div class="box" style="display: flex; justify-content: space-between;">
                  <div>
                      <p class="has-text-left">
                          <strong>Año de publicación</strong>
                      </p>
                      <p>(1900)</p>
                  </div>
                  <div>
                      <p class="has-text-left">
                          <strong>Autor</strong>
                      </p>
                      <p>Gabriel Garcia Marquez</p>
                  </div>
                  <div>
                      <p class="has-text-left">
                          <strong>Categoría</strong>
                      </p>
                      <p>Realismo mágico</p>
                  </div>
              </div>
          </div>
          
          </div>
      </div>
    </article>
    </div>
</body>
</html>