<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="resources/styles/basic.css">
    <link rel="stylesheet" href="resources/styles/profiles.css">
    <title>Perfil-Usuario</title>
</head>
<body>
     <!-- Header y menú -->
     <header class="header">
        <nav class="nav-header">
            <!-- Logo del Laboratorio de Innovación Social -->
            <a href="/" class="header-logo">
                <img  src="resources/assets/logo-ue.svg" alt="logo" class="header-icon">
            </a>
            <a href="#">
            <img  src="resources/assets/iconfinder_user_circle_duotone_9022927.svg" alt="logo" class="avatar-icon">
          </a>

            </div>
        </nav>
    </header><br><br>


    <div class="avatar">
        <img src="" alt="img-avatar" class="avatarImage">
    </div>
    <div class="boton">
    <button class="button is-danger is-light">Cerrar sesión</button>
    </div>
    <br><br><br>
    <div class="container is-bordered">

    <div class="content  is-medium">
        <p>
          <strong>Nombre</strong> 
          <br>
        <p>Sarita Andrea </p> <button class="button is-gray is-light">Editar</button>
        </p>
     </div>   
     <hr>
     <div class="content  is-medium">
        <p>
          <strong>Apellidos</strong> 
          <br>
        <p>Salazar Urbano</p>  <button class="button is-gray is-light">Editar</button>
        </p>
     </div>   
    <hr>
    <div class="content  is-medium">
        <p>
          <strong>Correo</strong> 
          <br>
        <p>ssalazar@Uniempresarial.edu.co</p>  <button class="button is-gray is-light">Editar</button>
        </p>
     </div>   
     <div class="content  is-medium">
        <p>
          <strong>Contraseña</strong> 
          <br>
        <p>****</p>  <button class="button is-gray is-light">Editar</button>
        </p>
     </div>   
    </div>
    <br><br><br>
</body>
</html>