<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="resources/styles/basic.css">
    <link rel="stylesheet" href="resources/styles/profiles.css">
    <title>Perfil-Usuario</title>
</head>
<body>
     <!-- Header y menú -->
     <header class="header">
        <nav class="nav-header">

            <a href="#" class="header-logo">
                <img  src="resources/assets/logo-ue.svg" alt="logo" class="header-icon">
            </a>
            <!-- Lista del menú -->
            <div>
            <ul class="menu">
                <li><a class="is-size-6 has-text-danger" href="#">Estudiantes</a></li>
            </ul>
            </div>
        
        </nav>
    </header><br><br><br><br><br>

    <div class="avatar">
        <img src="" alt="img-avatar" class="avatarImage">
    </div>
</body>
</html>