/*general del header*/
.header{
    z-index: 50; /*para manejar la capa, entre menor sea el numero mas atras de las capas está*/
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0PX;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    padding:8px;
    max-width: 990PX;
    margin: 0 auto;
}

.header-icon{
    width: 60%;
    display: flex;
    min-width: 80px;
}

.avatar-icon{
    width: 20%;
    margin-left: 80%;
}


/*Menu*/

